body{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
}
.clear{
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
header{
	position: fixed;
	height: 140px;
	color: #CCCCCC;
	z-index: 999;
}
header .fixed{
	height: 140px;
}
header,section{
	width: 100%;
}
article,aside,details,figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
} 
header .logo{
	margin-top:2%;
	margin-left: 8%;
	width: 200px;
	position: fixed;
}
header .logo img{
	display: block;
	max-width: 300px;
	height: auto;
	float: left;
}
header .logo-slogan{
	display: block;
	position: fixed;
	font-size: 20px;
	float: left;
	margin-left: 320px;
	margin-top: 50px;
	color: #737373;
}
header .menu {
	margin: 5% 0 0 55%;
	text-align: center;
	transition: all .2s ease-in-out 0s;
}
header .menu ul li {
	margin: 0 8px;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
header .menu ul li a{
	text-align: center;
	color: #333333;
	font-size: 20px;
	letter-spacing: 2px;
	cursor: pointer;
}
header .menu ul li a:hover,
header .menu ul li .active{
	color: #28A4C9;
	text-decoration: none;
}
header .menu ul .line{
	height: 3px;
	position: absolute;
	margin-top: 0px;
	background: #FFFFFF;
}
.fullpage .section .section1 .container .slide1{
	background: url(../img/hero_sunset_large_2x.jpg) no-repeat;
	background-size: cover;
}
@media only screen and (max-width: 1400px){
	header .logo-slogan{
		display: none;
	}
	header .menu {
	float: left;
	text-align: center;
	transition: all .2s ease-in-out 0s;
	}
	header .menu ul li a{
		font-size: 20px;
	}
	
}
@media only screen and (max-width: 450px){
	header .menu {
	float: left;
	margin-top: 130px;
	margin-left: 5%;
	text-align: center;
	transition: all .2s ease-in-out 0s;
	}
	header .menu ul li {
	margin: 0 8px;
	display: inline-block;
	padding-right: 1px;
	padding-left: 1px;
	}
	header .menu ul li a{
	text-align: center;
	color: #333333;
	font-size: 18px;
	letter-spacing: 1px;
	}
}
body .welcome{
	background: url(../img/welcome-bg.jpg);
	position: fixed;
	background-size: cover;
}









